.header,.hero,.body,.bar,footer{
	background: lime;
	font-size: 35px;
}
.box1{
	height: 65px;
	margin: 10px 0;
	background:skyblue;
	font-size: 35px;
	border: 5px solid purple;
}
.box2{
      margin: 10px 0;
      height: 65px;
      background: red;
      font-size: 35px;
      border: 5px solid purple;

}